/**Desde aquí importo fonts con @import */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Indie+Flower&family=Montserrat:ital,wght@0,300;0,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: url(./4550-zelda.jpg);
    background-size: 100%;
    background-attachment: fixed;
}



main {
}

h1 {
    justify-content: center;
    text-align: center;
    background-color: #999;
    font-size: 3rem;
    margin: 2rem; 
    border: 2px solid black;
    background-color: rgba(4, 135, 4, 0.86);
    border-radius: 15%;
    font-family: Cinzel;
}

 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(25%);

}  

h2 {
    color: blue;
    background-color: rgb(175, 124, 76);
    padding: 0.2rem;
    border-radius: 50%;
    padding: 1rem;
} 



p {
    margin: 2rem;
    background-color: rgb(175, 124, 76);
    border-radius: 15%;
    padding: 1rem;
}


li {
    
    margin: 2rem;
    list-style: none;
    background-color: rgba(4, 135, 4, 0.86);
    gap: 1rem;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    border: 2px solid black;
    border-radius: 5%;
    margin: 2rem;
}




/** Fecha*/
div {
    background-color: rgb(175, 124, 76);
    border-radius: 50%;
    padding: 0.5rem;
}

form {
    text-align: center;
    font-size: 2rem;
}

/*Aquí me coge el interior del formulario*/

fieldset {
    gap: 1rem;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(153, 153, 153, 0.642);
    margin: 2rem;
    padding: 2rem;
}

#titulo {
    width: 40rem;
}

#parrafo {
    height: 10rem;
    width: 40rem}

    #imagen {
        width: 40rem;
    }

/** Footer*/
footer {
        position:fixed;
       bottom:0px;
       height:20px;
       width:100%;
       background:#999;
       text-align: left;
    }